/* Start of ABOUT styling */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    padding: 0px 20px;
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    position: absolute;
}

header ul li {
    display: inline-block;
    padding: 40px 30px;
    align-items: center;
}

header .space {
    padding-left: 1000px;
}

header ul li a {

    color: white;
    font-size: 20px;
    letter-spacing: 0.01cm;
    font-family: 'Bebas Neue', sans-serif;

}

.menu:hover {
    transition: 0.2s ease;

    color: brown;

}

/*  Start of Styling of home */

.home {
    background-image: url(image/blur.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.home .home-content {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.1%;
    margin-bottom: 5.1%;
    width: 65%;
    height: 45%;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.home .home-content .my-name {
    display: flexbox;
    padding-left: 108px;
}

.home .home-content .my-name .intro {
    color: black;
    font-size: 205%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;

}

.home .home-content .my-name .branch {
    color: rgb(183, 86, 219);
    font-size: 105%;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.home .home-content .home-image {
    padding: 125px;
}

.home .home-content .home-image .profile-photo {
    border: thick double #32a1ce;
    border-radius: 50% 20% / 10% 40%;
}

/* End of HOME styling */



.about {
    background-image: url(image/aboutimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: ease all .5s;
    padding-top: 5%;
    padding-bottom: 5%;

}

.about .about-content {

    width: 500px;
    height: 600px;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .about-content .about-heading {
    margin-top: 1.3em;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.about .about-content .about-paragraph {
    padding: 1.1em 4em 1.2em 4em;
    font-size: 0.96em;
}

.about .about-image {
    width: 35%;
    height: 45%;
    box-shadow: -0.5em 5px .4em rgb(63, 63, 62);

}

/* Start Of SKILLS styling */
body .container {
    box-sizing: revert;
    background: #121212;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #fff;
}

h2 {
    font-size: 2.7em;
    font-weight: normal;
    padding: 10px 0 16px 0;
    margin: 0 0 30px;
    text-align: center;
    color: #2187e7;
    text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
    background: #000;
    border-radius: 2px;
    border: 1px solid #2187e7;
    box-shadow: 0px 0px 50px -8px #2187e7;
}

h2.plataformas {
    border: 1px solid #9ACD32;
    box-shadow: 0px 0px 50px -8px #9ACD32;
    color: #9ACD32;
    text-shadow: 1px 1px 5px #000, 0 0 10px #9ACD32, 0 0 20px #9ACD32;
}

h2.programas {
    border: 1px solid #FF4500;
    box-shadow: 0px 0px 50px -8px #FF4500;
    color: #FF4500;
    text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}

.container {
    width: 90%;
    padding: 5%;
    margin: 0 auto;
    overflow: hidden;

}

.container .skill-heading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.container .skill-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    width: 23%;
    margin: 0 5%;
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 2em;
    padding: 5% 0;

}

/*.col { width:101%; }*/
.skill {
    list-style: none;
    padding-top: 30px;
}

.skill li {
    margin-bottom: 70px;
    background: #030303;
    height: 6px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.skill li em {
    position: relative;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #dedede;
    top: -28px;
}

.blueline {
    height: 3px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}

.greenline {
    height: 3px;
    margin: 2px 0;
    background: #9ACD32;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(173, 255, 47, 0.4);
}

/* .redline {
    height: 3px;
    margin: 2px 0;
    background: #FF4500;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
} */

.titulo {
    opacity: 1;
    animation: titulo 5s ease-out;
}

/*programacion*/
.html {
    width: 90%;
    animation: html 2s ease-out;
}

.css {
    width: 85%;
    animation: css 2s ease-out;
}

.php {
    width: 30%;
    animation: php 2s ease-out;
}

/* .javascript {
    width: 50%;
    animation: javascript 2s ease-out;
}

.jquery {
    width: 30%;
    animation: jquery 2s ease-out;
} */

/*plataformas*/
.wordpress {
    width: 80%;
    animation: wordpress 2s ease-out;
}

.prestashop {
    width: 60%;
    animation: prestashop 2s ease-out;
}

.joomla {
    width: 40%;
    animation: joomla 2s ease-out;
}

/* .blogger {
    width: 70%;
    animation: blogger 2s ease-out;
}

.tridion {
    width: 60%;
    animation: tridion 2s ease-out;
} */

/*programas*/
/* .dreamweaver {
    width: 90%;
    animation: dreamweaver 2s ease-out;
}

.illustrator {
    width: 30%;
    animation: illustrator 2s ease-out;
}

.photoshop {
    width: 70%;
    animation: photoshop 2s ease-out;
}

.premiere {
    width: 50%;
    animation: premiere 2s ease-out;
}

.flash {
    width: 60%;
    animation: flash 2s ease-out;
} */


@keyframes titulo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*programacion*/
@keyframes html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0px;
    }

    100% {
        width: 85%;
    }
}

@keyframes php {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}

@keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}

/*plataformas*/
@keyframes wordpress {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@keyframes prestashop {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@keyframes joomla {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

@keyframes blogger {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes tridion {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

/*programas*/
/* @keyframes dreamweaver {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@keyframes illustrator {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}

@keyframes photoshop {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@keyframes premiere {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@keyframes flash {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
} */

/* End of Skills Styling */


/* End of ABOUT styling */

/* Start Of PROJECT styling */
.project {
    background-image: url(image/img23.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.project .heading-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 5%;
    margin-top: 5%;
    box-sizing: border-box;
}

.project .pro {
    height: 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
}

.project .project-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.project .project-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project .project-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pro .proheading img {
    flex-shrink: 0;
    width: 30%;
    height: 10%;
    margin-left: 5%;
    margin-right: 10%;
    box-shadow: -0.5em 5px .4em rgb(63, 63, 62);
    margin-bottom: 2%;
    margin-top: 2%;
    box-sizing: border-box;
}

.project p {
    margin-right: 10%;
}

/* End of PROJECT Styling */

/* Start of CONTACT styling*/
.contact {
    background-color: #bb9b73bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .contact-image {
    background-image: url(image/contact-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30em;
    height: 20em;
    margin-top: 10%;

}

.contact .contact-heading {
    padding-top: 2%;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    letter-spacing: 0.1cm;
}

.contact .contact-icon {
    padding: 20px 0px 20px 0px;
    margin-bottom: 8%;
}

.contact .contact-icon a {
    font-size: xx-large;
    letter-spacing: 0.3cm;
    color: white;

}

/* End of CONTACT styling */

/* Start of FOOTER styling */
footer {
    background-color: #000000;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerr {
    color: white;
    word-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

/* End of FOOTER styling */

/* Start of Header Media Query */
@media screen and (max-width: 480px) {
    header {
        padding: 0px 20px;
        background-color: black;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 999;
        align-items: center;
    }

    nav {
        position: absolute;

    }

    header ul li {
        display: inline-block;
        padding: 0px 0px 0px 0px;

    }

    header ul li .menu {
        display: none;

    }


    header .space {
        padding-left: 0px;
    }

    .name:hover {
        transition: 0.2s ease;
        color: brown;

    }
}

/* End of Header Media Query */

/* Start of media query Home */
@media screen and (max-width: 480px) {
    .home {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    .home .home-content {
        background-color: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        margin-bottom: 0%;
        width: 80%;
        height: 0px;
        background: none;
        border-radius: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .home .home-content .my-name .intro {
        margin-top: 0px;
        margin-bottom: opx;
        color: black;
        font-size: 160%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: start;

    }

    .home .home-content .my-name {
        display: flexbox;
        padding-left: 0px;
    }

    .home .home-content .my-name .branch {
        color: rgb(183, 86, 219);
        font-size: 90%;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: start;
        margin-bottom: 40%;
    }

    .home .home-content .home-image {
        padding: 0px;

        display: flex;
    }

    .home .home-image img {
        margin-left: auto;
        margin-right: auto;

    }
}

/* End of Home Media Query */
/* Start of about media query */

@media screen and (max-width: 480px) {
    .about {
        background-color: rgb(169, 131, 131);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about .about-image {
        width: 75%;
        height: 45%;
        box-shadow: -0.5em 5px .4em rgb(63, 63, 62);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        box-sizing: border-box;
    }

    .about .about-content {
        width: 75%;
        height: 100%;
        margin-bottom: 10%;
    }

    .about .about-content .about-heading {
        margin-top: 1.3em;
        font-size: large;
        font-weight: bold;
    }

    .about .about-content .about-paragraph {
        padding: 5%;
        font-size: 0.9em;
    }
}

/*End of Media Query for about  */

/* Start of Skill Media query */
@media (max-width: 1200px) {
    h2 {
        font-size: 2.2em;
    }
}

@media (max-width: 980px) {
    h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 580px) {
    h2 {
        font-size: 1.1em;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2.2em;
        padding: 10px 0 15px 0;
    }

    .col {
        width: 90%;
    }

    .container .skill-heading {
        font-size: large;
        font-weight: bold;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

/* End Of Skill Media Query */

/* Start of Project Media query */
@media screen and (max-width: 730px) {
    .project .heading-1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
        font-family: 'Oswald', sans-serif;
        font-size: small;
        font-weight: bold;
        margin-bottom: 10%;
        margin-top: 5%;
        box-sizing: border-box;
    }

    .pro .proheading img {
        flex-shrink: 0;
        width: 15em;
        height: 10em;
        margin-left: auto;
        margin-right: auto;
        box-shadow: -0.5em 5px .4em rgb(63, 63, 62);
        margin-bottom: 2%;
        margin-top: 2%;
        box-sizing: border-box;
    }

    .project .project-1-content-1 {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 2%;
        padding-top: 2%;
        padding-bottom: 10%;

    }

    .project .project-1-content-1 h1 {
        font-size: 1.2em;
        font-weight: 1em;


    }

    .project .project-1-content-1 p {
        font-size: 0.9em;
    }

    .project .project-2-content-2 {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 2%;
        padding-top: 2%;
        padding-bottom: 10%;

    }

    .project .project-2-content-2 h1 {
        font-size: 1.2em;
        font-weight: 1em;


    }

    .project .project-2-content-2 p {
        font-size: 0.9em;
    }

    .project .project-3-content-3 {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 2%;
        padding-top: 2%;
        padding-bottom: 10%;

    }

    .project .project-3-content-3 h1 {
        font-size: 1.2em;
        font-weight: 1em;


    }

    .project .project-3-content-3 p {
        font-size: 0.9em;
    }

    .project .project-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project .project-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project .project-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}



/* Start of Media query of Contact */

@media screen and (max-width: 480px) {
    .contact {
        width: 100vw;
        height: 100vh;
    }

    .contact .contact-image {
        width: 72%;
        height: 22%;

    }

    .contact .contact-heading {
        padding-top: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: large;
        font-weight: bold;
        color: white;
        letter-spacing: 0.1cm;
    }

    .contact .contact-icon a {
        font-size: large;
        letter-spacing: 0.3cm;
        color: white;
    }
}

/* Start of Media query of Footer */
@media screen and (max-width: 480px) {
    footer {
        height: 15%;

    }

    .footerr {
        color: white;
        word-spacing: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
        padding-top: 5px;
        padding-bottom: 5px;
        box-sizing: border-box;
    }

}

/* End of media query of footer */